@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: sans-serif !important;
}

html {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff !important;
}

.main-page {
  /* background: linear-gradient(-45deg, #000000, #414141, #000, #404040);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite; */
  /* height: 100vh; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #05051f;
    --background-end-rgb: #11112a;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom right, #040420, #814180); */
  background: linear-gradient(-145deg, #040420 35%, #814180 90%, #040420 100%);
}

.home {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
}

@font-face {
  font-family: "Lobster-Regular"; /*Can be any text*/
  src: local("Lobster-Regular"),
    url("./src/app/fonts/Lobster-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OleoScript-Regular"; /*Can be any text*/
  src: local("OleoScript-Regular"),
    url("./src/app/fonts/OleoScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PlaywriteAUSAGuides-Regular"; /*Can be any text*/
  src: local("PlaywriteAUSAGuides-Regular"),
    url("./src/app/fonts/PlaywriteAUSAGuides-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "EduAUVICWANTArrows-VariableFont_wght"; /*Can be any text*/
  src: local("EduAUVICWANTArrows-VariableFont_wght"),
    url("./src/app/fonts/EduAUVICWANTArrows-VariableFont_wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "Sixtyfour-Regular"; /*Can be any text*/
  src: local("Sixtyfour-Regular"),
    url("./src/app/fonts/Sixtyfour-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CormorantGaramond-Regular"; /*Can be any text*/
  src: local("CormorantGaramond-Regular"),
    url("./src/app/fonts/CormorantGaramond-Regular.ttf") format("truetype");
}

.title {
  font-family: "OleoScript-Regular" !important;
}

.Sixtyfour {
  font-family: "Sixtyfour-Regular" !important;
}
.description {
  font-family: "CormorantGaramond-Regular" !important;
}
.title2 {
  font-family: "Lobster-Regular" !important;
}
.line-font {
  font-family: "PlaywriteAUSAGuides-Regular" !important;
}

.skill-font {
  font-family: "EduAUVICWANTArrows-VariableFont_wght" !important;
}
